[Unit]
Description=My HTTP Script Service
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash /etc/httpconfignow.sh

[Install]
WantedBy=multi-user.target

