sudo ip tunnel del 6to4tun_IR{{ magicnumber }}
sudo ip tunnel del GRE6Tun_IR{{ magicnumber }}
sudo ip tunnel add 6to4tun_IR{{ magicnumber }} mode sit remote {{ remote_ip }} local {{ local_ip }}
sudo ip -6 addr add 2001:2001:2001:{{ magicnumber }}::1/64 dev 6to4tun_IR{{ magicnumber }}
sudo ip link set 6to4tun_IR{{ magicnumber }} mtu 1480
sudo ip link set 6to4tun_IR{{ magicnumber }} up
sudo ip -6 tunnel add GRE6Tun_IR{{ magicnumber }} mode ip6gre remote 2001:2001:2001:{{ magicnumber }}::2 local 2001:2001:2001:{{ magicnumber }}::1
sudo ip addr add 172.16.{{ magicnumber }}.1/30 dev GRE6Tun_IR{{ magicnumber }}
sudo ip link set GRE6Tun_IR{{ magicnumber }} mtu 1436
sudo ip link set GRE6Tun_IR{{ magicnumber }} up
