zuaecdnservice1.zizigooloovpn.com {

  root * /usr/share/caddy

  @websockets {
    header Connection *Upgrade*
    header Upgrade    websocket
  }

  reverse_proxy @websockets localhost:8443/ws

  route {
    reverse_proxy /ws localhost:8443
    file_server
  }

  log {
    output stdout
  }

}

